#label1{
font-size: 100px;
text-align:center;
color:rgb(198, 15, 119)



}


#label2{
font-size:100px




}


#gyatt{

background-image: src(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngitem.com%2Fmiddle%2FTRhwoio_united-nations-logo-png-transparent-png%2F&psig=AOvVaw3Dy2VHNrxi_cFajbeQzJGX&ust=1715348477764000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPiphJrZgIYDFQAAAAAdAAAAABAJ);



}